body {
    font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    margin: 5% 20% 5% 20%;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
}

H2 {
    font-family: "Hiragino Sans GB W3", "STKai", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 40px;
    padding: 10px;
    border-bottom: 2px LightGrey solid;
    border-left: 2px LightGrey solid;
    width: 80%;
    line-height: 150%;
}


li {
    margin-left: 10px;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}


pre {
    font-size: 60%;
    border: solid 1px #CC929A;
    background-color: Ivory;
    padding: .1em;
    line-height: 130%;
}


a {
    text-decoration: none;
}


a:hover {
	background-color: LightGrey;
}


hr {
    color: LightGrey;
}
