body {
    font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    margin: 5% 20% 5% 20%;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
}


H2 {
    font-family: "SimSun", "STKai", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkGreen;
}


H3 {
    font-family: "SimSun", "STKai", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkBlue;
}


li {
    margin-left: 10px;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}


pre {
    font-size: 75%;
    border: solid 1px #CC929A;
    background-color: Ivory;
    padding: 5px;
    line-height: 130%;
    margin-left: 10px;
}


code {
    color: DarkBlue;
    font-style: regular;
    font-size: 90%;
}


a {
    text-decoration: none;
}


a:hover {
	background-color: LightGrey;
}


hr {
    color: LightGrey;
}
