body {
	font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12pt;
	padding: 5% 25% 5% 25%;
  width: 50%;

}

li {
    padding-bottom: 8pt;
}


td {
	border: 1pt lightgrey dashed;
	vertical-align:text-top;
	padding: 10pt;
}

blockquote {
    border-left: 3pt lightgrey solid;
    padding-left: 5pt;
}

pre {
    font-size: 80%;
    border: solid 1px #CC929A;
    background-color: LightGrey;
    padding: .1em;
}

div {
    float: right;
    border: solid 1px grey;
    padding: 2px;
}

a {
    text-decoration: none;
}

a:hover {
	background-color: #FFBA75;
}

hr {
    color: grey;
}
